.bg {
    background-color: blueviolet;;
    background-attachment: fixed; 
    border-style:double;
    }
#ds6 {
        color: green ;
        text-indent: 40pt;
    font-size: 1em;
    font-style: italic;
      }